MAIN_UID=1000
MAIN_GID=1000
UMASK: 002
TIMEZONE=Europe/Lisbon
XDG_RUNTIME_DIR=/run/user/1000

CONFIG_BASE_DIR=/home/miro/.config
DATA_BASE_DIR=/home/miro/.local/share
STATE_BASE_DIR=/home/miro/.local/state
CACHE_BASE_DIR=/home/miro/.cache

OVOS_CONFIG_FOLDER=/home/miro/.config/mycroft
OVOS_SHARE_FOLDER=/home/miro/.local/share/mycroft
OVOS_STATE_FOLDER=/home/miro/.local/state/mycroft
OVOS_CACHE_FOLDER=/home/miro/.cache/mycroft
OVOS_TMP_FOLDER=/tmp/mycroft

HIVEMIND_SERVER_CONFIG_FOLDER=/home/miro/.config/hivemind-core
HIVEMIND_CONFIG_FOLDER=/home/miro/.config/hivemind
HIVEMIND_SHARE_FOLDER=/home/miro/.local/share/hivemind

HIVEMIND_REDIS_PORT=6379
