TIMEZONE=Europe/Lisbon
XDG_RUNTIME_DIR=/run/user/1000
HIVEMIND_USER="hivemind"

OVOS_CONFIG_FOLDER=~/.config/mycroft
HIVEMIND_PLAYER_CONFIG_FOLDER=~/.config/hivemind-player

HIVEMIND_REDIS_PORT=6379
HIVEMIND_PLAYER_WS_PORT=5778
HIVEMIND_PLAYER_HTTP_PORT=5779
